/* Responsive CSS file styles defined for smaller width devices */
/* CSS for tablet devices */
@media screen and (min-width: 576px) and (max-width: 1000px) {

    body{
        max-width:100%

    }
    .headings {
        margin-top:100px;

    }
    .hero{
        height:52rem;
        margin-bottom:0px;
    }
    .nav {
        display: block;
        padding: 0 3rem;
        min-height:50px;
    }
    .figma{
        margin-top:50px;
        width:90%;
        max-width:90%;
    }
    .figma_2{
        width:60%;
        max-width:60%;
        margin-left:0px;
    }
    .menu {
        position: absolute;
        right: 0;
        top: 75px;
        transition: all 0.25s;
        display:none;
        align-text:left;
        width:10rem;
        background-color:#FFFFFF;
        border-radius:20px;
    }

    .menu .menu-list {
        flex-direction: column;
    }

    .portfolio {
        padding: 0;
        margin-top:200px;
    }

    .about {
        padding-top:20px;
        height:1100px;
    }

    .about .about-text {
        width: 100%;
        padding: 1rem;
    }

    .about-par{
        width: 100%;
        margin:auto;
        padding:20px;
        align-text:center;
    }

    .about-pic{
        width:100%;
    
    }
    .about .about-image img {
        width: 50%;
        padding: 1rem;
    }
  .contact-cont{
        height:500px;
    }

    .services {
        padding: 0;
    }

    .my-row {
        gap: 10px;
    }

    .my-row .my-col {
        text-align: center;
        width: 35%;
    }
    .navbar {

        background-color: transparent;
    }

}

/* CSS for mobile devices */
@media screen and (min-width: 100px) and (max-width: 576px) {
    body{
        max-width:100%

    }

    .about{
        padding-top:20px;
        height:1100px;
    }
    .contact-cont:{
        height:500px;
    }

    .hero {
        justify-content: center;
        margin-bottom:0px;

    }
    .hero{
        height:40rem;
    }
    .headings {
        margin-top:100px;

    }
    .figma{
        margin-top:50px;
        width:90%;
        max-width:90%;
    }
    .figma_2{
        width:60%;
        max-width:60%;
        margin-left:0px;
    }
    .hero .intro-buttons {
        gap: 20px;
    }

    .btn {
        padding: 10px 30px;
    }


    .menu {
        position: absolute;
        right: 0;
        top: 75px;
        transition: all 0.25s;
        display:none;
        align-text:left;
        width:10rem;
        background-color:#FFFFFF;
        border-radius:20px;
    }

    .menu .menu-list {
        flex-direction: column;
        padding:20px;
        align-text:center;
    }

    .nav {
        display: block;
        padding: 0 3rem;
        min-height:50px;
    }

    .portfolio {
        padding: 0;
        margin-top:100px;
    }
    .about-pic{
        width:100%;
    
    }
    .about {
        flex-direction: column;
    }

    .about .about-text {
        width: 100%;
        padding: 1rem;
    }

    .about .about-image img {
        width: 100%;
        padding: 1rem;
    }
    .about-par{
        width: 100%;
        margin:auto;
        padding:20px;
        align-text:center;
    }

    .services {
        padding: 0;
    }

    .my-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin: 2rem 0;
        gap: 1rem;
    }

    .my-row .my-col {
        text-align: center;
        width: 100%;
    }

    .contact {
        padding: 0;
    }

    .contact-content {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .contact-form-container {
        width: 80%;
    }

    .contact-form .form-controls {
        width: 100%;
    }

    .contact-form .form-btn {
        width: 100%;
    }

    .contact-details {
        width: 80%;
    }

    .footer-menu {
        padding: 0 2rem;
    }

    .footer-list-items {
        margin: 0;
    }
    .navbar {

        background-color: transparent;
    }
}

@media screen and (min-width: 800px) and (max-width: 2000px){
    .menu{
        display:'inline-block'
    }
  }